body {
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    width: 210mm;
    min-height: 297mm;
}

.left-column{
    float: left;
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    background-color: darkslategray;
    padding: 10px;
    box-sizing: border-box;
}

/* profile image  */

.image-container{
    display: flex;
    height: 240px;
    justify-content: center;
    align-items: center;
    margin: 14px;
}

.face-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid white;
}

/* end */

/* generals information  */

.general-info{
    color: white;
    display: flex;
    flex-direction: column;
    margin-inline: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.general-info h3{
    margin-block: 10px;
}

.contact-details{
    text-align: start;
}

.contact-unit{
    display: flex;
    height: 40px;
    flex-direction: row;
    align-items: center;
}

.contact-unit p{
    margin-block: 4px;
}

.contact-icon{
    width: 24px;
    margin-right: 6px;
}

.education-details{
    text-align: start;
}

.education-unit{
    margin-block: 0px;
}

.education-unit h4{
    margin-block: 8px;
}

.education-unit p{
    margin-block: 4px;
}

.skills-details{
    text-align: start;
}

.skills-details p{
    margin-block: 4px;
}

.languages-details{
    text-align: start;
}

.languages-details p{
    margin-block: 4px;
}

/* end */

/* right column */

.right-column{
    float: right;
    flex-basis: 65%;
    background-color: #f0f0f0;
    padding: 10px;
    box-sizing: border-box;
    min-height: 257mm;
}

.summary-info{
    text-align: start;
    margin-inline: 14px;
}

.summary-info .applicant-name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: bold;
}

.summary-block{
    background-color: darkslategray;
    border-radius: 20px;
    padding: 14px;
    color: white;
}

.summary-block h2{
    margin-top: 0;
}

.experience-block{
    margin-top: 20px;
    background-color: darkslategray;
    border-radius: 20px;
    padding: 14px;
    color: white;
}

.experience-block h2{
    margin-top: 0;
}

.experience-block ul li{
    margin-bottom: 8px;
}

/* end */